<div class="options">
    <a mat-raised-button href="https://github.com/tiberiuzuld/angular-gridster2/tree/master/src/app/sections/drag"
       target="_blank" class="source-code-button">
      <mat-icon>open_in_new</mat-icon>
      Source
    </a>
    <markdown [src]="'assets/extend-fn.md'"></markdown>
  </div>
  <div class="options-header" *ngIf="options.draggable">
    <mat-checkbox [(ngModel)]="options.draggable.dropOverItemStack" (ngModelChange)="stackChanged($event)">
        Allow Drop Over Items Stack
    </mat-checkbox>
    <mat-checkbox [(ngModel)]="options.draggable.dropOverItemSplit" (ngModelChange)="splitChanged($event)">
        Allow Drop Over Items Split
    </mat-checkbox>

    <button mat-mini-fab (click)="saveLocalStorage()">
      保存
    </button>
    <button mat-mini-fab (click)="restoreLocalStorage(gridster)">
      恢复
    </button>
    <!-- <mat-form-field>
      <input matInput [(ngModel)]="options.draggable.delayStart" type="number" placeholder="Delay Start ms"
             (ngModelChange)="changedOptions()">
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="options.draggable.dragHandleClass" type="text" placeholder="Drag Handle Class"
             (ngModelChange)="changedOptions()">
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="options.draggable.ignoreContentClass" type="text" placeholder="Ignore Content Class"
             (ngModelChange)="changedOptions()">
    </mat-form-field> -->
    <button mat-mini-fab [insightGridsterDragger]="item" [insightWrapOptions]="options" class="add-button cols-2">
        拖拽
    </button>
  </div>
  
  
  <gridster [options]="options" #gridster [ngStyle]="backgroundStyle">
    <gridster-item [item]="item" #gridsterItem *ngFor="let item of dashboard;let i = index">
      <div class="button-holder">
        <div class="gridster-item-content" *ngIf="options?.draggable?.dropOverItemStack">
          <mat-form-field class="example-full-width">
            <input type="number" matInput placeholder="z-index" [(ngModel)]="item.zIndex" (ngModelChange)="zIndexChanged(gridster, gridsterItem)">
          </mat-form-field>
        </div>
        <button mat-mini-fab *ngIf="!item.hasContent" (mousedown)="removeItem($event, item)"
                (touchstart)="removeItem($event, item)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </gridster-item>
  </gridster>
  
  <ng-template #dialogTpl>
    <h1 mat-dialog-title>保存成功</h1>
    <div mat-dialog-content>
      <p>当前布局已保存在本地缓存中，刷新界面点击恢复可查看效果！</p>
    </div>
    <div mat-dialog-actions>
      <button mat-button (click)="close()">Ok</button>
    </div>
  </ng-template>